
.no-padding {
  padding: 0;
}
.footerLink{
    padding-left:130px;
}
.nav-link:focus, .nav-link:hover {
  color:#198754;
}
.test-justify{
    text-align: justify;
}
.footerLink a{
 color:black;
 text-decoration: none;
}
.footer-h2 h2{
    color:#198754;
    text-decoration: underline;
}
#copyright{
text-align: center;
}
.slidercon{
    height: 500px;
}

.footerh6{
    margin-bottom: 0px;
}
.seemore{
    background-color: #198754;
    color:white;
    padding: 9px 17px;
    outline: none;
    border: none;
    text-decoration: none;
}
.seemore:hover{
    background-color: white;
    color:#198754;;
    border: 1px solid #198754;
    padding: 9px 17px;
}